@CHARSET "UTF-8";

/* ----------------------------
*	base
*-------------------------- */
html{
	font-size: 62.5%;
}

body{
	color: #333;
	font-size: 1.2rem;
	font-family: "Hiragino Kaku Gothic ProN" Meiryo, sans-serif;
}

*, *::before, *::after{
	box-sizing: border-box;
}

a:hover{
	color: #992600;
	text-decoration: none;
}
a:link,a:visited,a:link{
    color: #333;
    text-decoration: none;
}
ul{
	list-style: none;
}

/* ----------------------------
*	parts
*-------------------------- */
.clearfix::after{
	content:"";
	display: block;
	clear: both;
}

.hidden{
	display: none;
}

/* ----------------------------
*	header
*-------------------------- */
.header{
    width: 100%;
    padding: 5px 5px 14px 108px;
    border-bottom: 1px solid #333;
}

.logo .image{
	float: left;
    width: 244px;
    height: 92px;

}
.global-nav{
    float: right;
    margin-top: 50px;
}
.global-nav .nav-item{
    display: inline-block;
    margin: 0 20px;
}
.global-nav .nav-item a{
    display: inline-block;
    width: 140px;
    height: 30px;
    line-height: 30px;
    font-size: 1.3rem;
    letter-spacing: 0.5px;

}




/* ----------------------------
*	wrapper
*-------------------------- */
.wrapper{
	width: 970px;
	margin:30px auto;
}


/* ----------------------------
*	main
*-------------------------- */
.main{
	display: block;
	float: right;
	width: 660px;
}
.button{
    margin:200px 0px;
    text-align: center;
    width: 920px
}
.button a{
    display:inline-block;
    padding:88px 137px;
   border-radius: 4px;
    font-size: 1.6rem;
    letter-spacing: 1.3px;
}
.button a:hover{
    border: 1px solid #999;
}
.text-link a{
	text-decoration: underline;
}
.login{
	text-align: center;
    margin: 130px auto;
}
.login .login-form{
	padding:60px 80px;
	border:1px solid #999;
	display: inline-block;
	margin: 31px;
	border-radius: 4px;
}
.login h4{
	letter-spacing: 1px;
}
.confirm-table{
	text-align: cener;
}
.login-form input{
	margin:5px;
}

.create-form{
border: 1px solid #999;
    display: inline-block;
    margin: 31px;
    padding: 46px 128px;
}
.create-complete .finish{
	margin:200px 0px;
    text-align: center;
    width: 920px
}
.create-complete .finish a{
	display:inline-block;
    padding:60px 120px;
    border-radius: 4px;
    letter-spacing: 1.0px;
    line-height:500%;
}
.finish a:hover{
	border: 1px solid#999;
}
.userAccount{
	position:relative;
	width: 970px;
	height: 500px;
}
.userAccount-table{
	display:inline-block;
	width: 270px;
	height: 220px;
	border:1px solid #999;
	border-radius: 4px;
	top:0;
	bottom:0;
	left: 0;
	right: 0;
	position: absolute;
	margin: auto;
}
.id{
	margin: 65px auto 10px;
}
.name{
	margin: 10px auto;
}
.mail{
	margin-bottom: 40px;
}
.account-logo{
	text-align:center;
	padding-top:150px;
	font-size: 15px;
}
.text-link {
	text-align:center;
}
.item-block{
	display:inline-block;
	width: 220px;
	height: 330px;
	padding-top:60px;
	line-height:20px;
	letter-spacing: 1px;
}
.item-img img{
	width: 150px;
	height: 240px;
}
.item-name{
	font-size:1.5rem;
	margin-bottom: 5px;
}
.pay{
	padding-top:80px;
	font-size:1.5rem;
	text-align:center;
}
.pay-form{
	text-align:center;
}
.pay{
	padding-top:80px;
	font-size:1.5rem;
	display:inline-block;
	margin: 10px auto;
	border-bottom:1px solid#999;
}
.form{
	text-align:center;
}
.form a{
	text-decoration:underline
}
table {
	margin:30px auto;
		}
.pay-confirm{
	padding-top:80px;
	font-size:1.5rem;
	display:inline-block;
	margin: 10px auto;
}
.item-confirm{
	display:inline-block;
	font-size:1.8rem;
	letter-spacing:1px;
	padding-top: 30px;
	border-bottom: 1px solid #999;
}
.buyitem-complete{
	padding-top:30px;
}
.buy-complete{
	font-size:1.5rem;
	letter-spacing: 0.5px;
	display:inline-block;
	border-bottom: 1px solid #999;
}
.buy-complete-link a{
	text-decoration:underline
}
.buy-complete-link{
	padding-top:30px;
}
.mypage p{
	display:inline-block;
	border-bottom:1px solid#999;
}
.item-info span{
	font-size:1.5rem;
	letter-spacing:0.5px;
}
.author-item-info{
	font-size:1.3rem;
	font-weight: bold;
}
.author-item-name{
	padding-top:30px;
	font-size:1.7rem;
	padding-bottom:10px;
	letter-spacing:1px;
}
.author-item-biography{
	padding-bottom:30px;
	border-bottom:1px solid#999;
}
/* ----------------------------
*	sidemenu
*-------------------------- */

.sidemenu{
	display:block;
	float: left;
	width: 275px;
	height: 900px;
	display:block;
	padding-top:40px;
	line-height:20px;
	letter-spacing: 1px;
	padding-left:70px;
}
.author-link{
	padding-top:10px;
	font-size:1.2rem;
}
.author-link a{
	text-decoration:underline;
}
.author-menu{
	font-size:1.5rem;
	font-weight: bold;
	margin:10px;
}

/* ----------------------------
*	footer
*-------------------------- */
.footer{
	width: 100%
}