@CHARSET "UTF-8";

/* ----------------------------
*	base
*-------------------------- */
html{
	font-size: 62.5%;
}

body{
	color: #333;
	font-size: 1.2rem;
	font-family: "Hiragino Kaku Gothic ProN" Meiryo, sans-serif;
}

*, *::before, *::after{
	box-sizing: border-box;
}

a:hover{
	color: #992600;
	text-decoration: none;
}
a:link,a:visited,a:link{
    color: #333;
    text-decoration: none;
}
ul{
	list-style: none;
}

/* ----------------------------
*	parts
*-------------------------- */
.clearfix::after{
	content:"";
	display: block;
	clear: both;
}

.hidden{
	display: none;
}

/* ----------------------------
*	header
*-------------------------- */
.header{
	width: 100%;
	padding: 10px 30px 10px 40px;
    border-bottom: 1px solid #333;
}

.logo .image{
	float: left;
    width: 244px;
    height: 92px;

}
.global-nav{
    float: right;
    margin-top: 50px;
}
.global-nav .nav-item{
    display: inline-block;
    margin: 0 20px;
}
.global-nav .nav-item a{
    display: inline-block;
    width: 140px;
    height: 30px;
    line-height: 30px;
    font-size: 1.3rem;
    letter-spacing: 0.5px;

}




/* ----------------------------
*	wrapper
*-------------------------- */
.wrapper{
	width: 970px;
	margin:30px auto;
}


/* ----------------------------
*	main
*-------------------------- */
.main{
	display: block;
	float: right;
	width: 660px;
}
.button{
    margin:200px 0px;
    text-align: center;
    width: 920px
}
.button a{
    display:inline-block;
    padding:88px 137px;
   border-radius: 4px;
    font-size: 1.6rem;
    letter-spacing: 1.3px;
}
.button a:hover{
    border: 1px solid #999;
}

/* login.jsp -userCreate.jsp　*/
.login{
	text-align: center;
	margin: 130px 0;
}
table {
	margin:30px auto;
		}
.text-link a{
	text-decoration: underline;
}

.login{
	text-align: center;
    margin: 130px auto;
}
.login h4{
	letter-spacing: 1px;
}
.confirm-table{
	text-align: cener;
}
.login-form{
	border:1px solid #999;
	display: inline-block;
	margin: 31px;
	padding: 12px 78px;
	border-radius: 4px;
}
.login-form input{
	margin:5px;
}

.create-form{
border: 1px solid #999;
    display: inline-block;
    margin: 31px;
    padding: 46px 128px;
}
.create-complete .finish{
	margin:200px 0px;
    text-align: center;
    width: 920px
}
.create-complete .finish a{
	display:inline-block;
    padding:60px 120px;
    border-radius: 4px;
    letter-spacing: 1.0px;
    line-height:500%;
}
.finish a:hover{
	border: 1px solid#999;
}
.userAccount{
	position:relative;
	width: 970px;
	height: 500px;
}
.userAccount-table{
	display:inline-block;
	width: 270px;
	height: 220px;
	border:1px solid #999;
	border-radius: 4px;
	top:0;
	bottom:0;
	left: 0;
	right: 0;
	position: absolute;
	margin: auto;
}
.id{
	margin: 65px auto 10px;
}
.name{
	margin: 10px auto;
}
.mail{
	margin-bottom: 40px;
}
.account-logo{
	text-align:center;
	padding-top:150px;
	font-size: 15px;
}
.text-link {
	text-align:center;
}
img{
width: 120px;
hight: 175px;
}
.info{
	float: right:
}
/* ----------------------------
*	sidemenu
*-------------------------- */

.sidemenu{
	float: left;
	width: 275px
}

/* ----------------------------
*	footer
*-------------------------- */
.footer{
	width: 100%
}